@charset "UTF-8";

.container-top{
	margin: 3rem;
}
aside{
	margin: 10px;
	background-color: #d5b59c;
}

/* 예매 선택 구간 */
/* 크기 조절 */
.container-fluid{
	width: 900px;
	padding-left: 2rem;
	border: 2px solid #aaa;
/* 	background-color: #d5b59c; */
}
div{
	background-color: transparent;
}
.container-fluid h5{
	text-align: center;
	font-weight: bold;
}
/* 각 파트 구별을 위한 색상 조절, 여백 */
.row1>div{
	height: 300px;
	margin: 0.5rem;
	padding: 10px;
	background-color: white;
}
/* 페이지 이름 잘보이게 설정 */
#mainArticle>h2{
	font-weight: bold;
	padding-left: 1rem;
}

/* 선택사항 안내 구간 */
/* 위 파트와 구별을 위한 색상 부여 */
.row2{
	padding-top: 0.5rem;
	height: 150px;
	background-color: #aaa;
}

.row1>div{
	border: 1px solid #aaa;
}

/* 극장 파트 좌우 배치 */
#region{
/* 	border: 1px solid #000; */
	width: 70px;
	display: inline-block;
}
#region td {
	padding: 5px;
}
#room{
	vertical-align: top;
/* 	border: 1px solid #000; */
	width: 120px;
	display: inline-block;
}
#playType{
	text-align: right;
}
#playTable {
	overflow: auto;
}
#playTable button {
	margin: 3px;
}

/* 영화 목록, 극장 목록 앞의 모양 제거 */
#selectMovie ul, #selectTheater ul, #selectDate ul, #selectRoom ul {
	list-style: none;
	padding-left: 0;
}
#selectMovie a, #selectTheater a, #selectDate a {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: middle;
}

a:link, a:hover {
	text-decoration: none;
}

a {
	color: #333;
	margin: 1px;
}

#selectMovie .selected a {
	background-color: #333;
    width: 270px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #000;
    color:#fff;
}

#selectTheater .selected a {
	background-color: #333;
    width: 124px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #000;
    color:#fff;
}

#selectDate .selected a {
	background-color: #333;
    width: 51px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #000;
    color:#fff;
}

#selectRoom a {
    width: 270px;
    height: 66px;
/*     border: 1px solid #000; */
    color:#333;
    margin: 1px;
    flex-wrap: nowrap;
}
#selectRoom hr {
	padding: 0;
	margin: 0;
}


#selectRoom a .col-1, #selectRoom a .col-2, #selectRoom a .col-3, #selectRoom a .col-4 {
	padding-left: 5px;
	padding-right: 5px;
} 


#selectRoom .time{
	text-align: left;
	vertical-align: top;
	font-weight: 300;
}

#selectRoom strong {
	display: block;
	font-weight: 700;
	font-size: 1.2em;
	height: 33px;
	padding: 0;
}

#selectRoom em {
	display: block;
	font-size: .8667em;
	font-weight: 300;
	height: 33px;
	padding: 0;
} 

#selectRoom .selected a {
	background-color: #333;
    width: 270px;
    height: 66px;
    border: 1px solid #000;
    color:#fff;
}

li .selected a span.text {
	color:#fff;
	font-weight: bold;
   	padding-right: 5px;
}