<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.dongbaekcinema.mapper.MemberMapper">
<!--   <cache-ref namespace=""/> -->

	<!-- 아이디 중복 확인 -->
	<select id="idCheck" parameterType="String" resultType="int">
		SELECT COUNT(member_id) FROM MEMBERS WHERE member_id = #{member_id}
	</select>

	<!-- 회원가입 -INSERT -->
	<!--  -->
	<insert id="insertMember" parameterType="com.itwillbs.dongbaekcinema.vo.MemberVO">
		INSERT
			INTO MEMBERS
			VALUES (
				#{member_id}
				, #{member_pass}
				, #{member_name}
				, #{member_email}
				, #{member_birth}
				, now() 			-- {member_date}
				, #{member_phone}
				, #{member_status} -- ENUM 타입 에서 String 타입으로 변경 
				, #{member_agree_marketing}
				, #{member_withdrawl}
				, #{member_type} -- CHECK 제약 조건 
				, #{member_like_genre, jdbcType=VARCHAR} -- NULL
				, 1
				, 'BRONZE'
			)
	</insert>

	<!-- 로그인, 관리자 페이지 - 회원 한명 id 조회   -->
	<select id="selectMember" resultType="com.itwillbs.dongbaekcinema.vo.MemberVO">
		SELECT * 
		FROM MEMBERS
		WHERE member_id = #{member_id}
	</select>
	
	<!-- 로그인 작업 - member_id로 조회, member_pass 받아오기 -->
	<select id="selectPasswd" resultType="String">
		SELECT member_pass 
			FROM MEMBERS
			WHERE
				member_id = #{member_id}
	</select>
	

<!-- 	 관리자페이지 - 회원 전체 조회해서 뿌리기 - 0616정의효 페이징메서드로인해 없어도됨 -->
<!-- 	<select id="selectMemberList" resultType="com.itwillbs.dongbaekcinema.vo.MemberVO"> -->
<!-- 		SELECT * -->
<!-- 			FROM MEMBERS -->
<!-- 	</select> -->
	
	<!-- 페이징처리중 - 0616 정의효 -->
	<select id="getMemberList" resultType="com.itwillbs.dongbaekcinema.vo.MemberVO">
		SELECT * 
			FROM MEMBERS
			ORDER BY member_date DESC
			LIMIT #{start}, #{perPage}
	</select>
	
	<!-- 페이징처리중 - 0616 정의효 -->
	<select id="getCount" resultType="int">
		SELECT COUNT(*)
			FROM MEMBERS
	</select>	
	
</mapper>















