<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.dongbaekcinema.mapper.MypageMapper">
  
  <!-- 나의 예매내역 조회 -->
  <select id="selectMyTicket" resultType="com.itwillbs.dongbaekcinema.voNew.MyTicketVO">
		SELECT *
			FROM ORDER_MY_TICKET
			WHERE 
				ORDER_MY_TICKET.member_id = #{member_id}
<!-- 				AND payment_datetime &gt;= SUBDATE(now(), INTERVAL 3 MONTH) -->
<!-- 				AND payment_datetime &lt;= now() -->
			LIMIT 3 -- 후에 pageNum으로 조절할 예정
  </select>
  
  <!-- 나의 멤버십 등급 조회 -->
  <select id="selectMyGrade" resultType="com.itwillbs.dongbaekcinema.voNew.GradeNextVO">
		SELECT
			G.grade_name
			, grade_discount
			, grade_max
			, next_grade_name
			, next_grade_discount
			FROM GRADE_NEXT G
			JOIN MEMBERS M ON G.grade_name = M.grade_name
			WHERE member_id = #{member_id}
  </select>
  
  
  <!-- 나의 개인정보 조회 -->
  <select id="getMyInfoList" resultType="com.itwillbs.dongbaekcinema.vo.MemberVO">
  		SELECT *
  			FROM MEMBERS
  			WHERE member_id = #{member_id}
  </select>
  
  <!-- 나의 문의 내역 조회 -->
  <select id="selectMyInq" resultType="com.itwillbs.dongbaekcinema.vo.CsVO">
 		SELECT *
 			FROM CS
 			WHERE member_id = #{member_id}
  </select>

  <!--  비밀번호  -->
  <select id="selectMyPasswd" resultType="String">
  		SELECT member_pass
  			FROM MEMBERS
  			WHERE member_id = #{member_id}
  </select>

  <!-- 나의 회원정보 수정  -->
  <!-- 수정 필요함  -->
  <update id="updateMyInfo">
  		UPDATE
  			MEMBERS
  			SET
  				member_pass = #{member_pass }
  				, member_phone = #{member_phone}
  				, member_email = #{member_email}
  				, member_like_genre = #{member_like_genre}
  			WHERE member_id = {#member_id}
  </update>
  
</mapper>
