<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.dongbaekcinema.mapper.TheaterMapper">
  <select id="selectTheaterList"  resultType="com.itwillbs.dongbaekcinema.vo.TheaterVO">
  	SELECT * FROM THEATERS;
  </select>
  
  <select id="selectTheater"  resultType="com.itwillbs.dongbaekcinema.vo.TheaterVO">
  	SELECT * FROM THEATERS
  	WHERE theater_num = #{theater_num};
  </select>
</mapper>
